<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>org.team3061.northstar.configBCH</string>
   <key>ProgramArguments</key>
   <array><string>/Users/nnrobot/Northstar/cameras/robots/competition/configBCH.sh</string></array>
   <key>StandardOutPath</key>
    <string>/Users/nnrobot/Northstar/logs/configBCHOut.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nnrobot/Northstar/logs/configBCHError.log</string>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>
