<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>org.team3061.northstar.webapp</string>
   <key>ProgramArguments</key>
   <array><string>/Users/nnrobot/Northstar/webapp/deploy/webapp.sh</string></array>
   <key>StandardOutPath</key>
   <string>/Users/nnrobot/Northstar/logs/webappOut.log</string>
   <key>StandardErrorPath</key>
   <string>/Users/nnrobot/Northstar/logs/webappError.log</string>
   <key>RunAtLoad</key>
   <true/>
   <key>KeepAlive</key>
   <true/>
</dict>
</plist>
